*{font-family: 'Roboto','Noto Sans KR'; letter-spacing: -1.5px; box-sizing: border-box;}
html{font-size: 62.5%;}
.inner{max-width: 120.0rem; margin: 0 auto;}
.eng{letter-spacing: 0px;}

header{position: absolute; top: 0; left: 0; z-index: 999; display: flex; align-items: center; justify-content: space-between; width: 100%; margin: 0 auto; padding: 40px 5.255%; background-color: transparent;}
header h1{display: inline-block;}
header h1 img{width: 100%;}
header nav{display: inline-block;}
header nav ul li{display: inline-block;}
header nav ul li a{margin: 0 35px; color: #fff; font-size: 2.0rem; font-weight: 500;}

.quick_menu{position: fixed; bottom: 8.256%; left: 50%; margin-left: 600px; z-index: 999;}
.quick_menu .menu ul{position: absolute; bottom: 124px; z-index: -1; height: 0px; text-align: center;}
.quick_menu .menu:hover ul{height: 564px;}
.quick_menu .menu ul li{position: relative; margin-bottom: 12px; transform: translateX(20px); opacity: 0;}
.quick_menu .menu:hover ul li{transform: translateX(0px); transition-duration: 0.3s; opacity: 1;}
.quick_menu .menu:hover ul li:nth-child(1){transition-delay: 0.9s;}
.quick_menu .menu:hover ul li:nth-child(2){transition-delay: 0.75s;}
.quick_menu .menu:hover ul li:nth-child(3){transition-delay: 0.6s;}
.quick_menu .menu:hover ul li:nth-child(4){transition-delay: 0.45s;}
.quick_menu .menu:hover ul li:nth-child(5){transition-delay: 0.3s;}
.quick_menu .menu:hover ul li:nth-child(6){transition-delay: 0.15s;}
.quick_menu .menu ul li a{position: absolute; top: 0; left: 0; width: 80px; border-radius: 80px; background-color: rgba(0, 0, 0, 0.6); color: #fff; font-size: 15px; font-weight: 700; line-height: 80px; text-align: center; opacity: 0;}
.quick_menu .menu ul li:hover a{opacity: 1;}
.quick_menu .menu > span{display: inline-block; width: 80px; height: 80px; background-color: transparent; cursor: pointer;}
.quick_menu > span{display: block; width: 27px; height: 30px; margin: 12px auto 0; cursor: pointer;}

.visual_wrap{background: url("../images/vita500_bg_01.png") no-repeat top center; margin-bottom: 20.0rem;}
.visual_wrap .inner{position: relative; padding: 83.6rem 0 0; }
.visual_wrap .visual_tit{position: absolute; top: 44.0rem; left: 4.6%; z-index: 9;}
.visual_wrap .visual_tit h3{margin-bottom: 4.0rem; font-size: 8.0rem; font-weight: 700; line-height: 8.8rem; transform: translateY(50px); transition-duration: 1s; opacity: 0;}
.visual_wrap .visual_tit h3 span{color: #fff; text-shadow: -1px 0 #141414, 1px 0 #141414, 0 -1px #141414, 0 1px #141414;}
.visual_wrap .visual_tit.active h3{transform: translateY(0px); opacity: 1;}
.visual_wrap .visual_tit p{margin-bottom: 6.4rem; font-size: 2.5rem; font-weight: 400; transform: translateY(50px); transition-duration: 1s; transition-delay: 0.8s; opacity: 0;}
.visual_wrap .visual_tit.active p{transform: translateY(0px); opacity: 1;}
.visual_wrap .img_box{position: absolute;}
.visual_wrap .img_box img{width: 100%;}
.visual_wrap nav ul{display: flex; background-color: #323232;}
.visual_wrap nav ul li{display: inline-block; width: 20%;  width: 100%; color: #fff; font-size: 2.0rem; font-weight: 500; line-height: 8.0rem; text-align: center; cursor: pointer;}
.visual_wrap nav ul li.active{background-color: #141414;}

.text{display: inline-block;}
.tit{margin-bottom: 6.4rem;}
.tit h4{margin-bottom: 2.4rem; color: #141414; font-size: 5.5rem; font-weight: 700; line-height: 6.5rem;}
.tit h4 > span{font-weight: 400;}
.tit > span{font-size: 2.5rem; font-weight: 400;}
.text p{color: #141414; font-size: 1.6rem; font-weight: 300; line-height: 2.5rem;}
.img_box img{max-width: 100%;}

.history{overflow: hidden; margin-bottom: 50.0rem;}
.history .inner{position: relative;}
.history .tit{margin-bottom: 9.6rem; text-align: center;}
.history .more > div > div{position: fixed; top: 50%; left: 50%; transform: translate3d(-50%,-50%,0);}
.history .more > div > div img{display: none; position: absolute; top:0 ;right: -3.5rem}
.history .more > div.active > div img{position: absolute; display: inline-block; cursor: pointer;}
.history .more > div > div > .text{display: none;}
.history .more > div.active > div > .text{display: block; position: fixed; top: 50%; left: 50%; transform: translate3d(-50%,-50%,0); z-index: 9999; width: 63.6rem; padding: 8.0rem 8.0rem; background-color: #fff; text-align: center;}
.history .more > div.active > div > .text h5{position: relative; margin-bottom: 5.6rem; color: #141414; font-size: 2.5rem; font-weight: 700; text-align: center;}
.history .more > div.active > div > .text h5:after{content: ''; clear: both; position: absolute; bottom: -20px; left: 50%; transform: translateX(-50%); width: 40px; height: 2px; background-color: #dcdcdc;}
.history .more > div.active > div > .text p{position: relative; padding: 0 0 0 1.6rem; color: #141414; font-size: 1.6rem; font-weight: 300; line-height: 2.5rem; text-align: left;}
.history .more > div.active > div > .text p:not(:last-of-type){margin-bottom: 1.6rem;}
.history .more > div.active > div > .text p:before{content: "ㆍ"; clear: both; position: absolute; left: 0; display: inline-block; margin-right: 0.4rem;}
.history .history_slide .swiper-wrapper{height: 360px;}
.history .history_slide .swiper-wrapper .swiper-slide{position: unset; width: 28.2rem; height: 34.0rem; cursor: pointer;}
.history .history_slide .swiper-wrapper .swiper-slide figure{position: relative; height: 100%; background-color: #fafafa;}
.history .history_slide .swiper-wrapper .swiper-slide figure:hover .hover_more{position: absolute; top: 0; left: 0; display: inline-block; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8);}
.history .history_slide .swiper-wrapper .swiper-slide figure .hover_more span{display: none;}
.history .history_slide .swiper-wrapper .swiper-slide figure:hover .hover_more span{display: inline-block; width: 100%; height: 100%; color: #fff; font-size: 3.0rem; font-weight: 900; line-height: 33.0rem; text-align: center;}
.history .history_slide .swiper-wrapper .swiper-slide figure:hover .hover_more span:after{content: ''; clear: both; display: inline-block; width: 22px; height: 8px; margin: 0 0 0.6rem 1.2rem; background: url("../images/icon_more_arrow.png") no-repeat center center;}
.history .history_slide .swiper-wrapper .swiper-slide figure .img_box img{width: 100%;}
.history .history_slide .swiper-wrapper .swiper-slide figure figcaption{padding: 2.4rem 2.4rem; text-align: center;}
.history .history_slide .swiper-wrapper .swiper-slide figure figcaption span{display: inline-block; margin-bottom: 1.6rem; padding: 0.4rem 1.6rem; border-radius: 20px; color: #fff; font-size: 2.0rem; font-weight: 900;}
.history .history_slide .swiper-wrapper .swiper-slide figure figcaption p{position: relative; padding: 0 0 0 1.5rem; color: #141414; font-size: 1.4rem; font-weight: 300; line-height: 2.0rem; text-align: left; word-break: keep-all;}
.history .history_slide .swiper-wrapper .swiper-slide figure figcaption p:before{content: 'ㆍ'; clear: both; position: absolute; top: 0; left: 0; color: #141414; font-size: 1.4rem; font-weight: 300;}
.history .history_slide .swiper-wrapper .swiper-slide figure figcaption p:not(:last-of-type){margin-bottom: 0.8rem;}
.history .swiper-button .swiper-button-next{top: 35.5rem; right: -6%; width: 40px; height: 40px; margin-top: 0;}
.history .swiper-button .swiper-button-prev{top: 35.5rem; left: -6%; width: 40px; height: 40px; margin-top: 0;}
.swiper-button-next:after, .swiper-button-prev:after{border-radius: 40px; background-color: rgba(0, 0, 0, 0.8); color: #fff; font-size: 13.5px; font-weight: 800; text-align: center;}
.swiper-button-next:after{padding: 13.5px 16px 13.5px 17px;}
.swiper-button-prev:after{padding: 13.5px 17px 13.5px 16px;}

.media{overflow: hidden; margin-bottom: 9.6rem;}
.media .inner{position: relative;}
.media .tit{margin-bottom: 9.6rem; text-align: center;}
.media .video{position: relative; width: 100%; height: auto; padding-top: 56.25%; margin-bottom: 4.0rem;}
.media .video iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 40px solid #fff;}
.media .swiper-slide{position: relative; cursor: pointer;}
.media .swiper-slide img{max-width: 100%;}
.media .swiper-slide .hover{display: none;}
.media .swiper-slide:hover .hover{position: absolute; top: 0; left: 0; display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; padding: 0 4.0rem; background: rgba(0, 0, 0, 0.8); color: #fff; font-size: 1.6rem; font-weight: 300; line-height: 2.5rem; text-align: center; word-break: keep-all;}
.media .swiper-slide > span{display: none;}
.media .swiper-button .swiper-button-next{top: auto; bottom: 36px; right: -6%; width: 40px; height: 40px; margin-top: 0;}
.media .swiper-button .swiper-button-prev{top: auto; bottom: 36px; left: -6%; width: 40px; height: 40px; margin-top: 0;}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    html{font-size: 50%;}
    .inner{max-width: 104.0rem;}
    header h1 img{width: 80%;}
    .quick_menu{margin-left: 416px; bottom: 40px;}   
    .history{margin-bottom: 40.0rem;}
    .history .more > div > div img{right: -4.3rem;}
    .media .video iframe{border: 32px solid #fff;}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    html{font-size: 50%;}
    .inner{padding: 0 40px;}
    header h1 img{width: 80%;}
    header nav ul li a{margin: 0 0 0 24px;}
    .quick_menu{display: none;}   
    .visual_wrap .inner{padding: 70.0rem 40px 0;}
    .visual_wrap .visual_tit{top: 33.0rem; left: 64px;}
    .visual_wrap .visual_tit h3{font-size: 7.2rem;}
    .history{margin-bottom: 32.0rem;}
    .history .inner{max-width: 78rem;}
    .history .more > div > div img{right: -4.3rem;}
    .media .video iframe{border: 24px solid #fff;}
}
@media screen and (max-width: 767px) {
    html{font-size: 50%;}
    .inner{padding: 0 20px;}
    .tit{margin-bottom: 4.8rem;}
    .tit h4{font-size: 4.5rem; line-height: 5.6rem; margin-bottom: 1.6rem;}
    header{padding: 20px;}
    header h1{width: 35%;}
    header nav{width: 75%;}
    header nav ul{width: 100%; text-align: right;}
    header nav ul li{margin-left: 12px;}
    header nav ul li a{margin: 0; font-size: 1.8rem;}
    .quick_menu{display: none;}   
    .visual_wrap .inner{padding: 84.0rem 0 0;}
    .visual_wrap nav ul{justify-content: space-evenly}
    .visual_wrap nav ul li{width: auto; font-size: 1.8rem;}
    .visual_wrap .visual_tit{top: 20.0rem; left: 50%; transform: translateX(-50%); width: 100%; text-align: center;}
    .visual_wrap .visual_tit h3{font-size: 5.6rem; line-height: 6.4rem; margin-bottom: 3.2rem;}
    .history{margin-bottom: 24.0rem;}
    .history .inner{padding: 0px 56px;}
    .history .more > div > div img{right: -4.3rem;}    
    .history .history_slide .swiper-wrapper{height: 42.0rem;}
    .history .history_slide .swiper-wrapper .swiper-slide{height: 42.0rem;}
    .history .history_slide .swiper-wrapper .swiper-slide figure:hover .hover_more{display: none;}
    .history .history_slide .swiper-wrapper .swiper-slide figure figcaption{padding: 3.2rem 4.0rem;}
    .history .history_slide .swiper-wrapper .swiper-slide figure figcaption span{margin-bottom: 2.4rem;}
    .history .history_slide .swiper-wrapper .swiper-slide figure figcaption p{font-size: 1.8rem; line-height: 2.8rem;}
    .history .history_slide .swiper-wrapper .swiper-slide figure figcaption p:not(:last-of-type){margin-bottom: 1.0rem;}
    .history .swiper-button .swiper-button-prev{top: 42.0rem; left: 3%;}
    .swiper-button-prev:after{padding: 10px 14px 10px 12px; font-size: 12px;}
    .history .swiper-button .swiper-button-next{top: 42.0rem; right: 3%;}
    .swiper-button-next:after{padding: 10px 12px 10px 14px; font-size: 12px;}
    .media .video iframe{border: 8px solid #fff;}
    .media .swiper{margin: 0 35px;}
    .media .swiper-slide:hover .hover{display: none;}
    .media .swiper-slide img{width: 100%;}
    .media .swiper-button .swiper-button-prev{left: 3%; bottom: 45px;}
    .media .swiper-button .swiper-button-next{right: 3%; bottom: 45px;}    
}