.info_wrap{padding: 28.0rem 0 20.0rem;}
.info_wrap .tit{text-align: center;}
.info_wrap .tit h3{margin-bottom: 2.4rem; color: #141414; font-size: 5.0rem; font-weight: 500;}
.info_wrap .tit p{margin-bottom: 9.6rem; color: #969696; font-size: 2.5rem; font-weight: 400;}
.info_wrap .product_info{margin-bottom: 9.6rem;}
.info_wrap .product_info figure{display: flex; justify-content: space-between; align-items: center;}
.info_wrap .product_info figure .img_box{overflow: hidden; display: flex; justify-content: center; align-items: center; width: 40.5%; height: 40.0rem; margin-right: 12.6rem; border: 1px solid #c8c8c8; background-color: #fff;}
.info_wrap .product_info figure .img_box img{max-width: 100%; width: 75%;}
.info_wrap .product_info figure figcaption{width: 49%;}
.info_wrap .product_info figure figcaption > span{display: inline-block; margin-bottom: 8px; color: #ef4023; font-size: 1.8rem; font-weight: 300;}
.info_wrap .product_info figure figcaption > p{display: inline-block;}
.info_wrap .product_info figure figcaption h4{margin-bottom: 4.0rem; color: #141414; font-size: 3.5rem; font-weight: 500;}
.info_wrap .product_info figure figcaption ul{padding: 1.6rem 0 2.4rem; border-top: 2px solid #141414;}
.info_wrap .product_info figure figcaption ul li{display: flex; padding: 2.0rem 0; color: #323232; font-size: 1.8rem; font-weight: 300; line-height: 3.0rem; word-break: keep-all;}
.info_wrap .product_info figure figcaption ul li:not(:last-child){border-bottom: 1px solid #dcdcdc;}
.info_wrap .product_info figure figcaption ul li > span{display: inline-block; width: 20%; color: #323232; font-weight: 500;}
.info_wrap .product_info figure figcaption ul li > p{width: 80%;}
.info_wrap .product_info figure figcaption div button{width: 16.0rem; border: 1px solid #ef4023; border-radius: 40px;}
.info_wrap .product_info figure figcaption div button{margin-right: 8px; background-color: transparent;}
.info_wrap .product_info figure figcaption div button:hover{background-color: #ef4023; }
.info_wrap .product_info figure figcaption div button a{display: inline-block; width: 100%; font-size: 1.8rem; font-weight: 400; line-height: 40px;}
.info_wrap .product_info figure figcaption div button:hover a{color: #fff;}
.info_wrap .product_info figure figcaption div button a{color: #ef4023;}
.info_wrap .product_detail ul{border-top: 2px solid #141414;}
.info_wrap .product_detail ul li > h5{position: relative; padding: 4.8rem 0 4.8rem 8.0rem; border-bottom: 1px solid #dcdcdc; color: #323232; font-size: 2.5rem; font-weight: 500; cursor: pointer;}
.info_wrap .product_detail ul li > h5:after{content: ''; clear: both; position: absolute; top: 5.6rem; right: 4.8rem; display: inline-block; width: 11px; height: 7px; background: url("../images/icon_arrow_down.png") no-repeat center center;}
.info_wrap .product_detail ul li.active > h5{padding: 4.8rem 0 0px 8.0rem; border-bottom: none; background-color: #fff;}
.info_wrap .product_detail ul li.active > h5:after{background: url("../images/icon_arrow_up.png") no-repeat center center;}
.info_wrap .product_detail ul li > div{display: none; background-color: #fff;}
.info_wrap .product_detail ul li.active > div{display: block;}
.info_wrap .product_detail ul li > div > div{padding: 4.8rem 8.0rem; border-bottom: 1px solid #dcdcdc;}
.info_wrap .product_detail ul li div h6{margin: 4.0rem 0 1.6rem; width: 12.0rem; border-radius: 120px; background-color: #ef4023; color: #fff; font-size: 1.6rem; font-weight: 400; line-height: 32px; text-align: center;}
.info_wrap .product_detail ul li div h6:first-of-type{margin: 0px 0 1.6rem;}
.info_wrap .product_detail ul li div p{color: #323232; font-size: 1.4rem; font-weight: 300; line-height: 2.2rem;}
.info_wrap .product_detail ul li div span{display: block; margin: 0px 0 0.4rem 0; color: #323232; font-size: 1.4rem; font-weight: 500;}
.info_wrap .product_detail ul li div span:not(:nth-of-type(1)){margin: 2.4rem 0 0.4rem 0;}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .info_wrap .product_detail ul li div p{font-size: 1.6rem; line-height: 2.4rem;}
    .info_wrap .product_detail ul li div span{font-size: 1.6rem;}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .info_wrap .product_detail ul li div p{font-size: 1.6rem; line-height: 2.4rem;}
    .info_wrap .product_detail ul li div span{font-size: 1.6rem;}
}
@media screen and (max-width: 767px) {
    .info_wrap{padding: 20.0rem 0 12.0rem;}
    .info_wrap .product_info figure{flex-direction: column;}
    .info_wrap .product_info figure .img_box{width: 100%; margin-right: 0; margin-bottom: 4.8rem;}
    .info_wrap .product_info figure figcaption{width: 100%;}
    .info_wrap .product_detail ul li > h5{padding: 3.2rem 0 3.2rem 3.2rem;}
    .info_wrap .product_detail ul li > h5:after{top: 4.0rem; right: 3.2rem;}
    .info_wrap .product_detail ul li.active > h5{padding: 3.2rem 0 0px 3.2rem;}
    .info_wrap .product_detail ul li > div > div{padding: 3.2rem 3.2rem;}
    .info_wrap .product_detail ul li div p{font-size: 1.6rem; line-height: 2.4rem;}
    .info_wrap .product_detail ul li div span{font-size: 1.6rem;}
}